.about-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 170px;
  margin-bottom: 5em;
}

.about-text{
  width: 45vw;
}

.about-text p {
  text-align: justify;
}

.text-img{
  margin: 2em auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-img{

  width: 35vw;
  height: 70vh;
  cursor: pointer;
  margin-bottom: 0.5em;
}


@media screen and (max-width:800px) {


  .about-text p {
      text-align: justify;
      font-size: 1em;
    }

  .text-img {
      margin: 2em auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
  }

  .about-text {
    width: 90vw;
  }

    .about-img {
      margin: 2em;
      width: 80vw;
      height: 50vh;
      cursor: pointer;
      margin-bottom: 0.5em;
    }
}
