.about-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 130px;
}

.about-text{
  width: 45vw;
  height: 100%;
  cursor: pointer;
  margin: 0 auto;
}

.about-text h1 {
  font-weight: 600;
  text-align: center;
  margin: 1.5em 0 1em 0;
  color: #ca3600;
  font-size: 2.5em;
}

.about-text p {
  text-align: justify;
}

.text-img{
  display: grid;
  align-items: center;
  height: calc(100% - 170px);
  grid-template-columns: 56vw 44vw;
}

.about-img{
  width: 44vw;
  height: 83.5vh;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  cursor: default;
  position: absolute;
  right: -400px;
  top: -9px;
}

.about-img-activo {
  width: 44vw;
  height: 90vh;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  cursor: default;
  position: absolute;
  right: 0px;
  top: -9px;
  transition: all 1s;
}



@media screen and (max-width:800px) {


  .about-text p {
      text-align: justify;
      font-size: 1em;
    }

  .text-img {
      margin: 2em auto;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
  }

  .about-text {
    width: 90vw;
  }

    .about-img {
      margin: 2em;
      width: 80vw;
      height: 50vh;
      cursor: pointer;
      margin-bottom: 0.5em;
    }
}
